body {
  background-color: #9266;
}
#todo_form {
  margin: auto 0px;
}
#todo_form input {
  background-color: rgb(27, 112, 137);
  border: 0;
  width: 400px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 5px;
  color: white;
}

#todo_form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#todo_form input:focus {
  outline: none;
}
#todo_form button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  font-weight: bolder;
}
